<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
   {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                   
                    <!-- left side div -->
                     <div class="col-md-6 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/page2.jpg" alt="sunil" class="img-fluid" title="sunil hero">
                        </figure>
                    
                        <p>Welcome to Weather App </p>
                        <h1>{{errormsg}}</h1>
                        <a href="/"><button>Go back</button></a>

                    </div>
                     <!-- right side div -->
                    
                   

                    

                </div>

            </div>
        </div>
    </div>
    <!-- footer -->
    <footer>
        <p>Created by Sunil Kumar Yadav</p>
    </footer>
</body>
</html>